main
{
    min-height: calc(100vh - 160px);
}

div.navbar-nav a:hover
{
    color: white!important;
}

.link-hov-line:hover
{
    text-decoration: none;
}

.bg-meetup
{
    background-color: #f3d405;
}

/* Expand table on profile page on hover */
.table
{
    transition: transform 0.2s ease-in-out;
}

.table:hover
{
    transform: scale(1.05);
    position: relative;
    z-index: 1;
}