<%- include('../partials/header.ejs') %>
<div class="container">
    <div class="text-center">
        <h3>Welcome to my about page!</h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="p-3 m-3">
                <p>
                    My name is Sudhamsh Mondrati. I'm the CEO and founder of Movie Meetup, a place where you can
                    find and go
                    to amazing movie meetup events. You can even add your own movie meetup so others can join you.
                </p>
                <p>Ever since high school, I've always wanted to watch movies, not just by myself but with my
                    friends. For
                    me, it was a great experience to be with friends and enjoy watching movies so we could have
                    a
                    great time
                    and have fun!</p>
                <p>Check out our <a href="/events">current events</a> and join one now! If you haven't
                    already,
                    go ahead and <a href="#">sign up</a> and <a href="#">log in</a> if you want to <a
                        href="/events/new"> create
                        your own event </a> for others to join!</p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <figure>
                    <img src="https://media.licdn.com/dms/image/C4E03AQHfoRtLT3sV2g/profile-displayphoto-shrink_800_800/0/1627084042546?e=1687392000&v=beta&t=wewqfk1BxwEJJCTwjS1OH_j2T7VdsCLIwTJdAtPUmBs" class="img-fluid" alt="Watch party movies" width="408"
                        height="272">
                    <figcaption>
                        Myself, Sudhamsh!
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>