<%- include('../partials/header.ejs') %>
<div class="container">
    <div class="text-center">
        <h3>Welcome to the about page!</h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="p-3 m-3">
                <p>
                    My name is Sudhamsh Mondrati. I'm the CEO and founder of Movie Meetup, a place where you can
                    find and go
                    to amazing movie meetup events. You can even add your own movie meetup so others can join you.
                </p>
                <p>Ever since high school, I've always wanted to watch movies, not just by myself but with my
                    friends. For
                    me, it was a great experience to be with friends and enjoy watching movies so we could have
                    a
                    great time
                    and have fun!</p>
                <p>Check out our <a href="/events">current events</a> and join one now! If you haven't
                    already,
                    go ahead and <a href="#">sign up</a> and <a href="#">log in</a> if you want to <a
                        href="/events/new"> create
                        your own event </a> for others to join!</p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <figure>
                    <img src="images/watch-party.jpg" class="img-fluid" alt="Watch party movies" width="612"
                        height="408">
                    <figcaption>
                        Courtesy of iStockPhoto by Getty Photos
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>