<%- include('../partials/header.ejs') %>
<div class="container">
    <div class="text-center">
        <h3>Contact Us!</h3>
    </div>
    <address>
        <a href="mailto:sudhamshmondrati@gmail.com">Email Me!</a><br>
        <a href="tel:+9803222222">Call Me!</a>
    </address>
    <div>
        <p>If you can't see the above details, feel free to contact me from the below details.</p>
        <ul class="list-group">
            <li class="list-group-item"><i class="fa-solid fa-at"></i> Email: sudhamshmondrati@gmail.com</li>
            <li class="list-group-item"><i class="fa-brands fa-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/sudhamsh-mondrati/">Visit here</a></li>
            <li class="list-group-item"><i class="fa-brands fa-github"></i> GitHub: <a href="https://github.com/SudhamshM">Check it out!</a></li>
            <li class="list-group-item"><i class="fa-solid fa-phone"></i> Phone: 980-222-2222</li>
        </ul>
    </div>
    <p>As always thank you for contacting MovieMeetup.</p>
    <h4>Where Movies Meet People!</h4>
    <img src="images/meetup-og.jpeg" alt="Meetup Icon" width="200" height="100">
</div>
<%- include('../partials/footer.ejs') %>